<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scrum.dao.mysql.ScrumSprintMapper" >
  <resultMap id="BaseResultMap" type="com.scrum.model.ScrumSprint" >
    <id column="sprint_id" property="sprintId" jdbcType="BIGINT" />
    <id column="team_id" property="teamId" jdbcType="BIGINT" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="sprint_name" property="sprintName" jdbcType="VARCHAR" />
    <result column="mail_to" property="mailTo" jdbcType="VARCHAR" />
    <result column="cc_to" property="ccTo" jdbcType="VARCHAR" />
    <result column="auto_send_email" property="autoSendEmail" jdbcType="CHAR" />
    <result column="plan_cycle" property="planCycle" jdbcType="VARCHAR" />
    <result column="real_cycle" property="realCycle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sprint_id, team_id, team_name, sprint_name, mail_to, cc_to, auto_send_email, plan_cycle, real_cycle, 
    create_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from scrum_sprint
    where sprint_id = #{sprintId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from scrum_sprint
    where sprint_id = #{sprintId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.scrum.model.ScrumSprint" >
    insert into scrum_sprint (sprint_id, team_id, team_name, sprint_name, 
      mail_to, cc_to, auto_send_email, 
      plan_cycle, real_cycle, create_time, 
      remark)
    values (#{sprintId,jdbcType=BIGINT}, #{teamId,jdbcType=BIGINT}, #{teamName,jdbcType=VARCHAR}, #{sprintName,jdbcType=VARCHAR}, 
      #{mailTo,jdbcType=VARCHAR}, #{ccTo,jdbcType=VARCHAR}, #{autoSendEmail,jdbcType=CHAR}, 
      #{planCycle,jdbcType=VARCHAR}, #{realCycle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scrum.model.ScrumSprint" >
    insert into scrum_sprint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sprintId != null" >
        sprint_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="teamName != null" >
        team_name,
      </if>
      <if test="sprintName != null" >
        sprint_name,
      </if>
      <if test="mailTo != null" >
        mail_to,
      </if>
      <if test="ccTo != null" >
        cc_to,
      </if>
      <if test="autoSendEmail != null" >
        auto_send_email,
      </if>
      <if test="planCycle != null" >
        plan_cycle,
      </if>
      <if test="realCycle != null" >
        real_cycle,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sprintId != null" >
        #{sprintId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="sprintName != null" >
        #{sprintName,jdbcType=VARCHAR},
      </if>
      <if test="mailTo != null" >
        #{mailTo,jdbcType=VARCHAR},
      </if>
      <if test="ccTo != null" >
        #{ccTo,jdbcType=VARCHAR},
      </if>
      <if test="autoSendEmail != null" >
        #{autoSendEmail,jdbcType=CHAR},
      </if>
      <if test="planCycle != null" >
        #{planCycle,jdbcType=VARCHAR},
      </if>
      <if test="realCycle != null" >
        #{realCycle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrum.model.ScrumSprint" >
    update scrum_sprint
    <set >
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=BIGINT},
      </if>
      <if test="teamName != null" >
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="sprintName != null" >
        sprint_name = #{sprintName,jdbcType=VARCHAR},
      </if>
      <if test="mailTo != null" >
        mail_to = #{mailTo,jdbcType=VARCHAR},
      </if>
      <if test="ccTo != null" >
        cc_to = #{ccTo,jdbcType=VARCHAR},
      </if>
      <if test="autoSendEmail != null" >
        auto_send_email = #{autoSendEmail,jdbcType=CHAR},
      </if>
      <if test="planCycle != null" >
        plan_cycle = #{planCycle,jdbcType=VARCHAR},
      </if>
      <if test="realCycle != null" >
        real_cycle = #{realCycle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where sprint_id = #{sprintId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrum.model.ScrumSprint" >
    update scrum_sprint
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_id = #{teamId,jdbcType=BIGINT},
      sprint_name = #{sprintName,jdbcType=VARCHAR},
      mail_to = #{mailTo,jdbcType=VARCHAR},
      cc_to = #{ccTo,jdbcType=VARCHAR},
      auto_send_email = #{autoSendEmail,jdbcType=CHAR},
      plan_cycle = #{planCycle,jdbcType=VARCHAR},
      real_cycle = #{realCycle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where sprint_id = #{sprintId,jdbcType=BIGINT}
  </update>
  
  <select id="queryScrums" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from scrum_sprint
    where 
	1 = 1
	<if test="teamId != null" >
      and team_id = #{teamId,jdbcType=BIGINT}
    </if>
	<if test="teamName != null" >
      and team_name = #{teamName,jdbcType=VARCHAR}
    </if>
    <if test="sprintName != null" >
      and sprint_name = #{sprintName,jdbcType=VARCHAR}
    </if>
    <if test="mailTo != null" >
      and mail_to = #{mailTo,jdbcType=VARCHAR}
    </if>
    <if test="ccTo != null" >
      and cc_to = #{ccTo,jdbcType=VARCHAR}
    </if>
    <if test="autoSendEmail != null" >
      and auto_send_email = #{autoSendEmail,jdbcType=CHAR}
    </if>
    <if test="planCycle != null" >
      and plan_cycle = #{planCycle,jdbcType=VARCHAR}
    </if>
    <if test="realCycle != null" >
      and real_cycle = #{realCycle,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null" >
      and remark = #{remark,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>